* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
	font-family: sans-serif;
}
#calendar {
	width: 70%;
	margin: auto;
	text-align: center;
}
h1 {
	margin: 50px 0 20px 0;
}
ul {
	width: 100%;
	list-style-type: none;
	display: inline-block;
}
li {	
	width: 14.28%;
	float: left;
	padding: 30px 15px;
	font-weight: bold;
}
#days li {
	font-size: 30px;
}
#number li {
	font-size: 40px;
}
.right {
	float: right;
}
.clear {
	clear:both;
}
