* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
	font-family: 'Open Sans Condensed', sans-serif;
	color:#006c8b;
}
body {
	background: url('bg.jpg') no-repeat center; 
	background-size:cover; 
}
#calendar_box {
	width: 70%;
	text-align: center;
	margin: 50px auto;
	background:url('paper.jpg') no-repeat center; 
	background-size:100%; 
	box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.5);
	
}
#picture {
	width: 35%;
	float: left;
	padding: 50px 50px 80px 50px;	
	height: 100%;
}
img {
	width: 100%;
	height: 100%;
}
#calendar{
	width: 65% ;
	float: right;
	padding-right: 50px;
}
h1 {
	margin: 50px 0 2px 0;
	float: right;
	font-size: 70px;
	font-weight: normal;
	color: #006c8b;
}
ul {
	width: 100%;
	list-style-type: none;
	display: inline-block;
}
li {	
	width: 14.28%;
	float: left;
	padding: 1.5% 0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;	
	margin: 3px 0;
}
#days li{
	border-bottom: 2px solid #006c8b;
	margin-bottom:30px; 
}
.right {
	float: right;
}
.clear {
	clear:both;
}
span {
	background: url('wave.png');
	height: 38px;
	display: block;
}
.color {
	background: rgba(87, 158, 184,0.3);
	border-radius: 50px	;
}
