* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
	font-family: sans-serif;
}
div {
	width: 100%;
	text-align: center;
}
ul {
	list-style-type: none ;
	margin: 100px 0 ;
	display: inline-block;
}
li {
	float: left;
}
a {
	text-decoration: none;
	display: block;
	transition: all 0.3s ;
	font-weight:bold;
	color: #b5b5b5;
}

.menu1 a {
	padding: 30px;
	margin: 5px;
	border-bottom: 3px solid white
}
.menu1 a:hover {
	border-bottom: 3px solid #d94f5c ;  
	color: #d94f5c;
}
.menu2 , .menu4 {
	background: #2A282B ; 
}
.menu2 a {
	color:#d94f5c;
	padding: 30px;
	margin: 5px;
}
.menu2 a:hover {
	background: #d94f5c ;  
	color: white;
}
.menu3 a {
	padding: 30px;
	border-top: 3px solid white ;
	border-bottom: 3px solid #d94f5c ;	
	border-right:3px solid white;
	border-left:3px solid white;
}
.menu3 a:hover {
	border-top: 3px solid #d94f5c ;
	border-bottom: 3px solid white ;
	border-right:3px solid #d94f5c;
	border-left:3px solid #d94f5c;
	color:#d94f5c;
}
.menu4 a {
	padding: 30px;
	background: #d94f5c ;
	color: white;  
}
.menu4 a:hover {
	margin: 0 30px;

}
.menu5 a {
	padding: 30px;
	border-top: 3px solid white ;
	border-bottom: 3px solid #d94f5c ;	
}
.menu5 a:hover {
	color:#d94f5c;
	padding: 45px 30px;
	border-top: 3px solid #d94f5c ;
}