* {
	box-sizing: border-box ;
	margin: 0 ;
	padding: 0 ;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.page {
	width: 279.4mm;
    height: 215.9mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    page-break-after: always;
}
.subpage {
	height: 175.9mm
}
p {
	text-align: center ;
	height: 32.82px
}
.image_box {
	width: 100% ;
	height: 632px ;
	display: table-cell ;
	text-align: center ;
	vertical-align: middle
}
.image_info {
	display: inline-block ;
	padding-right: 1mm
}
img {
	width: 100%
}
.displayNone {
	display: none
}
.displayBlock {
	display: block
}
.b2 {
	width: 50%
}
.b3 {
	width: 48.4%
}
.b5 {
	width: 33.33% ;
	margin: 50px 0
}
.b7 {
	width: 30.2%
}
.b10 {
	width: 25% ;
	margin: 19px 0
}
@page {
	size: landscape ;
	margin: 0
}
@media print {
	html , body {
		width: 279.4mm ;
		height: 215.9mm
	}
	.page {
		margin: 0 ;
		page-break-after: always
	}
}

/* FIRST PAGE / FIRST PAGE / FIRST PAGE / FIRST PAGE / FIRST PAGE / FIRST PAGE */

section{
	margin-top: 20px;
}
section div {
	padding:10px;
	border: 1px solid #ffc786 ;
}
#greetingText {
	width: 100%;
	float:right;
	text-align: justify;
	margin-bottom:20px;
	background: #f89f37;
	color: white;
	border: 0;
}
aside {
	width: 150px;
	height: 383px;
	background: #ffc786;
	text-align: center;
	float: left;
}
#logo_box {
	height: 101px;
	background: white;
	text-align: center;
	border: 1px solid #ffc786;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#reportLogo{
	width: auto;
  	height : auto;
  	max-height: 100%;
  	max-width: 100%;
}
#topDoctorText , #bottomDoctorText {
	text-transform: uppercase;
	padding: 10px;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1.3em;
}
#avatar {
	padding: 8px;
	margin-bottom: 10px;
}
#topDoctorImage {
	border-radius: 50%;
}
#bottomDoctorText {
	background: #f89f37;
	color: white;
}
#surgeryInfoText {
	float: right;
	width: 492.84px;
	height:383px;
}
#bottomText1 , #bottomText2 {
	width: 321.42px;
	height: 200px;
	float: left;
	margin:20px 0;
}
#bottomImageHeader1 , #bottomImageHeader2 {
	width: 321.42px;
	float: left;
	background: #f89f37;
	color: white;
	border: 0;
}
.bottomImageBox {
	width: 321.42px;
	float: left;
	border-top: 0; 
	padding: 0;
}
#bottomText2 , #bottomImageHeader2 , .bottomImageBox2 , #bottomImageCaption1 , #bottomImageCaption2 {
	float: right;
}
#bottomImage1 , #bottomImage2 {
	height:117px;			
	width:auto;
}
#bottomImageCaption1 , #bottomImageCaption2 {
	width: 202px ;
	height:117px;	
	border: 0 ;
	border-left: 1px solid #ffc786 ;			
}