/* user and pass */
.form-group-user-pass{
	/*! margin-bottom: 0 !important; */
}

/* day and taotaikhoan */


.show-text>span{
	text-align: center;
}
#show-recover,#show-register{
	color: blue;
	cursor: pointer;
}

.remember-checkbox>label>input{
	margin-right: 10px;
}

/* button submid */
.button-submit{
	width: 120px;
}
.form-group-button{
	text-align: center;
}

/* form-footer */
.oauth-login-container{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	justify-content: -webkit-center;
}
.oauth-login-item{
	width: 100%;
	height: 50px;
	color: white;
}
.oauth-fb{
	background-color: blue;
}
.oauth-gg{
	background-color: red;
}
.oauth-fb:hover{
	color: white;
	background-color: rgba(125, 0, 255, 1.0);
	border-color: rgba(17, 0, 255, 1.0)
}
.oauth-gg:hover{
	color: white;
	background-color: rgba(254, 0, 109, 0.6);
	border-color: rgba(255, 0, 0,1.0);
}

/* hoáº·c */
.or{
	margin: 0 auto;
	width: 50px;
	background-color: white;
	text-align: center;
	margin-bottom: 10px;
	margin-top: -25px;
}

/* recover-form */
.send{
	width: 120px;
}

/* register-form */
.gender-radio>span{
	font-weight: bold;
}