* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
    text-rendering: geometricPrecision;

    
}
a {
	text-decoration: none !important;	
}
/*----------------------------------------------------------------------------------------------------------------*/

.home-header {
	border-bottom: 3px solid rgb(239,62,67); 
	width: 100%;
	float: left;
	padding: 0 0 0 15px ;
}
.home-header-box {
	font-size: 22px;
	color:white;
	letter-spacing: 1px;
	display: inline-block;
	padding: 5px 15px;
	float: left;
	margin-left: -15px;
	background: linear-gradient(90deg, blue 0%,rgb(239,62,67) 100%);
	position: relative;
	bottom: -3px;
	font-weight: bold;
}
.home-header-box:hover {
	color:white;
	text-decoration: none;
} 
.more {
	float: right;
	font-size: 20px;
	color :rgb(239,62,67);
	padding: 8px 8px 0 0;
}
.plus-icon {
	width: 40px;
	height: 40px;
	float: right;
	background: url("../icon/plus-icon.svg")  center right no-repeat;
	background-size: 50px 50px;
}
    
/*-----------------------------------------------------------------------------------------------------------------*/

.product-box-border {
	border: 1px solid #b3b3b3;
	margin-top: 30px ;
	width: 100%;
	overflow: hidden;
	
}
.view-box {
	width: 400%;
	transform: translateX(0px);
}
.product-box {
	float: left;
	background:#fff;	
    display: inline-block;
    padding: 0 10px;
    width: 25%;
}
.tag-hot {
	display: inline-block;
	font-size: 15px;
	padding: 5px 10px;
	line-height: 15px;
	color: white;
	background: red;
	font-weight: bold;
}
.img-product {
	width: 100%;
	padding-top: 100%;
	margin: 15px 0 40px 0;
}
.img-ph1 {
	background:url("../images/p1.jpg") no-repeat center ;
	background-size: 100%;
}
.img-p2 {
	background:url("../images/p2.jpg") no-repeat center ;
	background-size: 100%;
}
.img-p3 {
	background:url("../images/p3.jpg") no-repeat center ;
	background-size: 100%;
}
.img-p4 {
	background:url("../images/p4.jpg") no-repeat center ;
	background-size: 100%;
}


.product-box span {
	display: block;
	height: 3px ;
	background: blue;
	width: 30px;
	margin: auto;
	margin-bottom:30px;
}
.name-product {
	color: #404040;
	float: left; 
	font-size: 20px;
	font-weight:bold;
	text-align: left;
	margin: 0px 5px;
}
.price-product {
	color: rgb(239,62,67);
	clear: left;
	float: left; 
	font-size: 20px;
	font-weight:bold;
	margin:5px 5px 20px 5px;
	width: 100%;
	text-align: left;
}

/*---------------------------------------------------------------------------------------------------------------*/
.info-product {
	position: absolute;
	top: 0px;
	left: 0px;
	background:white;
	width: 25%;
	text-align: justify;
	padding: 20px 20px 200px 20px;
	z-index: -1;
}
.info-ph1 , .info-ph2 , .info-ph3 , .info-ph4 {
opacity: 0;

	transition : all 0.3s ease-in-out;
}

.ph1:hover .info-ph1  {
opacity: 1;


}
.info-product .line {
	border-top:1px solid #b3b3b3; 
	padding-top: 20px; 
	clear: both;
}
.watch , .buy {
	font-size: 18px;
	display: inline-block;
	width: 100%;
	color: white;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	float: right;
}
.watch {
	background: #6363ff;
	margin-bottom: 10px;
}
.buy {
	background: rgb(239,62,67);
}
.info-product span {
display: inline;
background: rgb(239,62,67);
}
/*----------------------------------------------------------------------------------------------------------------*/
.hide-box-1 {
	top:-507px;
	left: 329px;
}



/*----------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
	.more , .col2 , .col3 , .col4 {display: none;}
	
	
}
@media (min-width: 767px) {
	.product-box-border {height: 504px;}

	}
@media (min-width: 992px) {
	.info-product span {display: none;}
	/*.hide-box-1 {display: none;}*/
	.product-box-border {height: auto;}
}
@media (min-width: 1200px) {
	/*.hide-box-1 {display: none;}*/
}
