* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
    text-rendering: geometricPrecision;
    list-style-type: none;

    
}
a {
	text-decoration: none !important;	
	display: block;
}
span {
	display: block;
}
/*----------------------------------------------------------------------------------------------------------------*/



.search-bar {
	position:absolute;
	width: 100%;
	background: linear-gradient(45deg, #0000ff 0%,#ef3e43 100%);
	color:white;

}
.search-bar .dia-chi{
	width: 25%;
	float: left;
	margin-top:15px;
}
.dia-chi span {
	width: 27px;
	height: 27px;
	background: url("../images/dia-chi.png") no-repeat 0% center;
	background-size: 27px ;
	float: left;
}
.dia-chi p {
	margin-left:28px;
}
.search-box {
	float: left;
	
}
.search-box form {
	width: 100% ;
}
.search-box form div {
	position: relative;
}
.search-box input {
	height: 40px;
	width: 100%;
	border-radius: 6px; 
	padding-left: 10px; 
	border: 0px;
}
.search-box button {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 40px;
	width: 50px;
	background: url("../images/search.png") no-repeat center;
	background-size: 30px ;
	border: 0px;
}
.search-bar .sign {
	width: 25%;
	float: right;
}
.search-bar a {
	float: right;
	padding: 30px 0 30px 40px;
	color:white;
	background: url("../images/tai-khoan.png") no-repeat;
	background-size: 35px;
	background-position: 0% center ;
}



/*----------------------------------------------------------------------------------------------------------------*/



.main-menu-bar {
	width: 100%;
	position: absolute;
	top:80px;
	left: 0px;
	color:white;v
	background:white;
}
.main-menu-bar .row{
	position: relative;
}
.menu-button-box {
	width: 20%;
	float: left;
}
.menu-button , .gh{
	width: 64px;
	height: 50px;
	float: left;
	background: url("../images/menu.png") no-repeat center;
	background-size:50%;
}
.logo-box {
	float: left;
}
.main-menu-bar .logo {
	margin: auto;
	background: url("../images/logo.png") no-repeat center;
	background-size: contain; 
}
.main-menu-box {
	position:absolute;

}
.main-menu li {
	float: left;
}
.main-menu a{
	color:rgb(239,62,67);
	font-size: 16px ;
	font-weight: bold;
}
.gh-box {
	width: 20%;
	float: right;
}
.gh {background: url("../images/gh.png") no-repeat center;background-size:50%;float: right;}







/*----------------------------------------------------------------------------------------------------------------*/

img {
	width: 100%;
	margin: 50px 0;
}



/*----------------------------------------------------------------------------------------------------------------*/



.home-header {
	border-bottom: 3px solid rgb(239,62,67); 
	width: 100%;
	float: left;
	padding: 0 15px ;
}
.home-header-box {
	font-size: 22px;
	color:white;
	letter-spacing: 1px;
	display: inline-block;
	padding: 5px 15px;
	float: left;
	margin-left: -15px;
	background: linear-gradient(90deg, blue 0%,rgb(239,62,67) 100%);
	position: relative;
	bottom: -3px;
	font-weight: bold;
}
.home-header-box:hover {
	color:white;
	text-decoration: none;
} 
.more {
	float: right;
	font-size: 20px;
	color :rgb(239,62,67);
	padding: 8px 0 0 0;
}
.plus-icon {
	width: 40px;
	height: 40px;
	float: right;
	background: url("../svg/plus.svg")  center right no-repeat;
	background-size: 28px 28px;

}
    


/*-----------------------------------------------------------------------------------------------------------------*/



.col1 {
margin-bottom: 50px; 

}
.product-box-border {
	border: 1px solid #ccc;
	margin-top: 30px ;
	width: 100%;
	overflow: hidden;
}
.view-box {
	width: 400%;
	transform: translateX(0px);
}
.product-box {
	float: left;
	background:#fff;	
    display: inline-block;
    padding: 0 10px;
    width: 25%;
    position: relative;

}
.tag-hot {
	display: inline-block;
	font-size: 18px;
	padding: 10px;
	line-height: 15px;
	color: white;
	background: #ef3e43;
	font-weight: bold;
	margin-left: -10px;
}
.tag-sale {
	background: #6363ff !important;
}
.img-product {
	width: 100%;
	padding-top: 100%;
	margin: 15px 0 40px 0;
}
.img-ph1 {
	background:url("../images/p1.jpg") no-repeat center ;
	background-size: 100%;
}
.img-ph2 {
	background:url("../images/p2.jpg") no-repeat center ;
	background-size: 100%;
}
.img-ph3 {
	background:url("../images/p3.jpg") no-repeat center ;
	background-size: 100%;
}
.img-ph4 {
	background:url("../images/p4.jpg") no-repeat center ;
	background-size: 100%;
}
.img-pk1 {
	background:url("../images/pk1.jpg") no-repeat center ;
	background-size: 100%;
}
.img-pk2 {
	background:url("../images/pk2.jpg") no-repeat center ;
	background-size: 100%;
}
.img-pk3 {
	background:url("../images/pk3.jpg") no-repeat center ;
	background-size: 100%;
}
.img-pk4 {
	background:url("../images/pk4.jpg") no-repeat center ;
	background-size: 100%;
}


.product-box span {
	height: 3px ;
	background: blue;
	width: 30px;
	margin: auto;
	margin-bottom:30px;
}
.name-product {
	color: #404040;
	float: left; 
	font-size: 20px;
	font-weight:bold;
	text-align: left;
	margin: 0px 5px;
}
.price-product {
	color: rgb(239,62,67);
	clear: left;
	float: left; 
	font-size: 20px;
	font-weight:bold;
	margin:5px 5px 20px 5px;
	width: 100%;
	text-align: left;
}



/*---------------------------------------------------------------------------------------------------------------*/



.info-product {
	position: absolute;
	top: 666px;
	left: 0px;
	background:white;
	width: 100%;
	text-align: justify;
	transition : all 0.5s ease-in-out;
	padding: 20px 10px 260px 10px;
}

.ph1:hover .info-ph1  {top: 0px;}
.ph2:hover .info-ph2  {top: 0px;}
.ph3:hover .info-ph3  {top: 0px;}
.ph4:hover .info-ph4  {top: 0px;}


.info-product .line {
	border-top:1px solid #f2f2f2; 
	padding-top: 20px; 
	clear: both;
}
.watch , .buy {
	font-size: 18px;
	display: inline-block;
	width: 100%;
	color: white;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	float: right;
	background: white;

}
.watch{
	border: 1px solid #6363ff;
	margin-bottom: 10px;
	color: #6363ff;
	transition: all 0.2s ease-in-out;
}
.buy{
	border: 1px solid rgb(239,62,67);
	color: rgb(239,62,67);
	transition: all 0.2s ease-in-out;
	background-image: url("../svg/gio-hang-2.svg") ;
	background-size: 35px 35px;
	background-repeat: no-repeat;
	background-position: 5% 60% ;
}
.watch:hover {
	border: 0px;
	background: #6363ff;
	border: 1px solid white;
	color: white;
}
.buy:hover {
	color: white;
	border: 1px solid white;
	background-color: rgb(239,62,67);
}
	



/*----------------------------------------------------------------------------------------------------------------*/



.main-video-box .col-md-4 , footer .col-md-4 {
	margin-top: 30px; 
}
.video {
	margin: auto;
}
.title{

	color: white;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    background-color: rgb(239,62,67)  ;
    padding: 10px 20px;
    margin-top: 10px; 
}
.text {
	text-align: justify;
}



/*----------------------------------------------------------------------------------------------------------------*/



footer {
	width: 100%;
	background: linear-gradient(45deg, #131530 0%,#271625 100%);
	color:rgb(239,62,67);
	font-size: 18px; 
}
footer .gradient-line {
	height: 10px ;
	background: linear-gradient(45deg, #0000ff 0%,#ef3e43 100%);
	width: 100%;
}
footer .col1 {
	padding: 0 20px;
}
footer .logo {
	background-image: url("../svg/logo.svg");
	background-repeat: no-repeat;
	width: 100%;
    padding-top: 30%;
    margin-bottom: 50px; 
}
footer a {
	color:rgb(239,62,67);
	margin-bottom: 10px  ;
}
footer .thong-tin  {
	float: left;
	margin-left:20px;
}
 footer .nhan-hieu {
	float: right;
	margin-right:20px;
}
footer .thong-tin p, footer .nhan-hieu p{
	font-weight: 700;
	margin-bottom: 20px; 
}
footer .col-md-4 span {
    height: 3px;
    background: blue;
    width: 30px;
    margin: 20px 0 ;
}
footer .col-md-4 {
	height: 350px ;
}
footer input , footer button {
	color: white;
	width: 100%;
    height: 50px;
    padding-left: 10px;
    margin-top:  10px;
    font-size: 16px;
    border: 1px solid rgb(239,62,67);
    background: none;
    letter-spacing: 1px;
}
footer button  {
	color: rgb(239,62,67);
	text-align: left;
	height: 35px;
	width: 137px;
	background-image: url("../svg/mail.svg") ;
	background-repeat: no-repeat;
	background-size: 20%;
	background-position: 95% center ;
	margin-bottom: 50px;
}

.facebook , .youtube {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-size: 100%;

}
.facebook {
	background:url("../images/facebook.png") ;
	background-size: 100%;
}
.youtube {
	background:url("../images/youtube.png") ;
	background-size: 100%;	
	margin-left: 10px;
}



/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/




@media (min-width: 1px) {
	.more , .col2 , .col3 , .col4 {display: none;}
	.video {width:290px;height:163.13px;}
	.search-box {width: 100%;margin: 10px 0 ;padding: 0 10px;}
	.search-bar{top:74px;}
	.logo-box {width: 60%; }


	.main-menu-box {left: -40px;right: 0px;top: 53px;transform: translateX(-320px);}

	.menu-button-box:hover .main-menu-box {transform: translateX(0px) !important;}


	.main-menu li {
		width: 100%;
		border-top: 1px solid #ccc;
		background: #ef3e43;
	}
	
	.main-menu li:first-child {background: linear-gradient(90deg, blue 0%,rgb(239,62,67) 100%)}
	.main-menu li:last-child {
		border-bottom: 1px solid #ccc;
	}
	.main-menu li a{
		text-align: left;
		padding: 10px 10px 10px 60px;
		color: white;
		font-weight: normal;
	
	}
	.dndk-menu {background:url("../images/tai-khoan copy.png") no-repeat 5% center ;background-size: 7%;}
	.ph-menu {background:url("../images/ph.png") no-repeat 5% center ;background-size: 7%;}
	.ph2-menu {background:url("../images/ph2.png") no-repeat 5% center ;background-size: 7%;}
	.pk-menu {background:url("../images/pk.png") no-repeat 5% center ;background-size: 7%;}
	.bh-menu {background:url("../images/bh.png") no-repeat 5% center ;background-size: 7%;}
	.km-menu {background:url("../images/km.png") no-repeat 5% center ;background-size: 7%;}







	.main-menu-bar .logo{width: 192px;height: 53px;}
	.main-menu-bar{top:0px;padding: 10px 0;border-bottom: 0px;}

@media (min-width: 768px) {
	.video {width:345px;height:194.06px;}
	.col2 , .more  {display: block ;}

	.main-menu-box {left: -49px;right: -9px;}
}

@media (min-width: 992px) {
	.video {width:293.33px;height:164.81px;}
	.col2 , .col3 , .col4 {display: block;}
	.buy {background-image: none;}
	.pk {display: none;}
	.search-box {width: 50%;margin: 20px 0;padding:0;}
	.search-bar{top:0px;}
	.logo-box {width: 25%;}

	

	.main-menu-box {left: 250px;right: 70px;transform: translateX(0px);}
	.main-menu li:first-child{display: none;}
	.main-menu li {
		width: 20%;
		background: white;
		border-top: 1px solid white;
	}
	.main-menu li:last-child {
		border-bottom: 1px solid white;
	}
	.main-menu li a{
		text-align: center;
		font-size: 15px;
		color: #ef3e43;
		font-weight:bold;
		padding: 40px 10px 10px 10px;
	}
	.ph-menu {background:url("../images/ph.png") no-repeat center 0%;background-size: 22%;}
	.ph2-menu {background:url("../images/ph2.png") no-repeat center 0%;background-size: 22%;}
	.pk-menu {background:url("../images/pk.png") no-repeat center 0%;background-size: 22%;}
	.bh-menu {background:url("../images/bh.png") no-repeat center 0%;background-size: 22%;}
	.km-menu {background:url("../images/km.png") no-repeat center 0%;background-size: 22%;}







	.main-menu a{padding-top: 33px;}
	.main-menu {display: block;}
	.main-menu-bar{top:80px;padding: 20px 0;border-bottom: 3px solid rgb(239,62,67);}
	.main-menu-box {top:0px;}
	.menu-button {display: none;}
	.main-menu-bar .logo{width: 243px;height: 68px;}


}
@media (min-width: 1200px) {
	.buy {background-image: url("../svg/gio-hang-2.svg") ;}
	.video {width:360px;height:202.50px;}
	.main-menu a {padding-top: 40px}
	.main-menu-box {top:-4px;left: 270px;}


}
































/* / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM */ 
/* / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM */ 
/* / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM */ 


#list-page {
}

.list-menu-box {
	padding: 30px 0;
	text-align: left;
}
.list-menu-header{
	width: 80%;
	padding: 30px 0;
	border-top: 1px solid blue;  
}
.list-menu-header:last-child {
	border-bottom: 1px solid blue;  
}

.title-list {
	color:rgb(239,62,67);
	font-size: 20px;
	font-weight: bold;

}
.list-menu-box a {
		padding: 5px;

}
.list-menu-box ul {
	padding-left: 20px;
}





.pagination-box {
	margin: 30px 0 60px 0;
	float: right;
	width: 75%;
	border-bottom: 3px solid rgb(239,62,67);
}
.pagination-box a , .button-pagination{
	color: rgb(239,62,67);
	font-size: 18px;
	float: right;
	padding: 5px 15px;
}
.pagination-box a.active {
	background: rgb(239,62,67);
	color: white ;
}
.title-section-33 {
	width: 32% ;
	float: left;
}
.title-section-66 {
	width: 65% ;
	float: right;

}
.colmd2 .name-product , .colmd2 .price-product{
	font-size: 13px;
}
.video-box {
	margin-top: 30px; 

}



/* / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM */ 
/* / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM */ 
/* / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM / TRANG DANH SÁCH SẢN PHẨM */ 



.product-big-image {
	float: left;
	width: 100%;
	padding-top: 100%;
	background: url("../images/big.jpg") center;
	border: 2px solid #ccc;
}
.produce-detail h2  , .produce-detail h3 {
	width: 100%;
	text-align: center;
	margin: 30px 0 ;
	display: inline-block;
	font-size: 30px;
}
.produce-detail h3 {
	font-size: 26px;
}
.product-sm-image {
	float: left;
	width: 23.1%;
	padding-top: 23.1%;
	border: 2px solid #ccc;
	margin: 14px 7px;
	border: 2px solid #ccc;
}
.sm1{margin-left: 0px ;background: url("../images/sm1.jpg") center no-repeat;background-size:48%;}
.sm2{background: url("../images/sm2.jpg") center no-repeat;background-size:60%;}
.sm3{background: url("../images/sm3.jpg") center no-repeat;background-size:60%;}
.sm4 {margin-right: 0px ;background: url("../images/sm4.jpg") center no-repeat;background-size:108%;}


.produce-detail ul {
	padding: 0px 15	px;
}
.produce-detail li {
	width: 100%;
}
.produce-detail li p{
	border-top: 1px solid #ccc;
	font-size: 16px;
	padding-top:10px; 
}
.produce-detail li p:first-child {
	float: left;
	width: 40%;
}
.produce-detail li p:last-child {
	float: left;
	width: 60%;
}

.produce-detail .price-product {
	color:rgb(239,62,67);
	font-size: 36px;
	margin-top: 100px;
}

.promotion {
	padding: 0px;
	list-style-type: square !important;
}
.promotion p{
	width: 100% !important;
}
.last {
	border-bottom: 1px solid #ccc; 
	padding-bottom: 10px; 
}

.color-text {
	font-size: 16px;
	margin-top: 30px;
	display: inline-block;
	width: 100%;
	float: left;
	position: relative;
}
.color-box {
	float: left;
	width: 50px;
	height: 50px;
	border: 5px solid white; 
	margin-right: 5px;

}
.cb1 {background:#D8d8d8}
.cb2 {background:#f3a4b4}
.cb3 {background:#3a3a3a}
.cb4 {background:#bd1324}

.quantity {
	clear: both;
	float: left;
	margin: 30px 0; 
}
.product-buy-box {
	padding: 15px;
}
.quantity-input{
	padding: 10px;
}

.product-video-title {
	margin-top:60px; 
	font-size: 16px;
	letter-spacing: 1px;
}
.product-video {
	width: 100%;
	margin-top: 30px; 
}






