* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
    text-rendering: geometricPrecision;
    
}
a {
	text-decoration: none !important;	
}
/*-----------------------------------------------------------------------------*/

.home-header {
	border-bottom: 3px solid rgb(239,62,67); 
}
.home-header-box {
	font-size: 22px;
	color:white;
	letter-spacing: 1px;
	display: inline-block;
	padding: 5px 15px;
	float: left;
	margin-left: -15px;
	background: linear-gradient(90deg, blue 0%,rgb(239,62,67) 100%);
	position: relative;
	bottom: -3px;
}
.home-header-box:hover {
	color:white;
	text-decoration: none;
} 
.more {
	font-size: 20px;
	float: right;
	color :rgb(239,62,67);
	padding-top: 8px;
}
/*--------------------------------------------------------------------------------------------------------*/

.col-sm-6 {
	text-align: center;
}

#product-box {
	background: #fff;
	border: 1px solid #e5e5e5;
	margin-top: 30px ;
    display: inline-block;
    position: relative;
    padding: 0 10px;
}
#tag-hot {
	display: inline-block;
	font-size: 15px;
	padding: 5px 10px;
	line-height: 15px;
	color: white;
	background: red;
	font-weight: bold;
	position:absolute;
	top:0px;
	left:0px;
}
#img-product {
	max-width: 100%;
	background:url("../images/iphone-7-plus-13-300x300.jpg") no-repeat center;
	background-size: 100%;
}
@media (max-width: 767px) {
	#img-product {height: 280px;}
}
@media (min-width: 768px) {
	#img-product {height: 280px;}
}
@media (min-width: 992px) {
	#img-product {height: 270px;}
}
@media (min-width: 1200px) {
	#img-product {height: 270px;}
}
#product-box span {
	display: block;
	height: 3px ;
	background: blue;
	width: 30px;
	margin: auto;
	margin-bottom:20px; 
}
#name-product {
	color: #404040;
	float: left; 
	font-size: 20px;
	font-weight:bold;
	text-align: left;
	margin: 5px 5px;
}
#price-product {
	color: rgb(239,62,67);
	clear: left;
	float: left; 
	font-size: 20px;
	font-weight:bold;
	margin:5px 5px 20px 5px;
	width: 100%;
	text-align: left;
}
#info-product {
	position: absolute;
	top: 0px;
	left: 0px;
	background:white;
	opacity: 0;
	width: 100%;
	transition: all 0.3s ease-in-out;
	text-align: justify;
	padding:10px;
}
#product-box:hover #info-product  {
	opacity: 1;
}
#info-product .line {
	border-top:1px solid grey; 
	padding-top: 10px; 
	clear: both;
}
.watch , .buy {
	font-size: 18px;
	width: 100%;
	float: left;
	color: white;
	padding: 10px;
	text-align: center;
}
.watch {
	background: #6363ff;
}
.buy {
	background: rgb(239,62,67);
}
#info-product span {
display: inline;
background: rgb(239,62,67);
}
