.big-title {
	margin-bottom: 50px;
}
.sua-chua-page {
	margin-bottom: 30px;
}
.sua-chua-box div {
	margin-bottom: 30px;

}

.sua-chua-box span {
	width: 100%;
	padding-top: 50%;
	background-size: contain;
	border: 1px solid #bfbfbf;
}


.sua-chua-image-1 {background:white url("../images/sc1.png") no-repeat center;}
.sua-chua-image-2 {background:white url("../images/sc2.jpg") no-repeat center;}
.sua-chua-image-3 {background:white url("../images/sc3.gif") no-repeat center;}
.sua-chua-image-4 {background:white url("../images/sc4.jpg") no-repeat center;}
.sua-chua-image-5 {background:white url("../images/sc5.jpg") no-repeat center;}
.sua-chua-image-6 {background:white url("../images/sc6.jpg") no-repeat center;}
.sua-chua-image-7 {background:white url("../images/sc7.jpg") no-repeat center;}
.sua-chua-image-8 {background:white url("../images/sc8.jpg") no-repeat center;}
.sua-chua-image-9 {background:white url("../images/sc9.jpg") no-repeat center;}
.sua-chua-image-10 {background:white url("../images/sc10.jpg") no-repeat center;}
.sua-chua-image-11 {background:white url("../images/sc11.jpg") no-repeat center;}
.sua-chua-image-12 {background:white url("../images/sc12.jpg") no-repeat center;}



.sua-chua-box p {
	font-size: 16px;
	padding-left:15px ;
	background: #d9d9d9;
}

.fix-title {
	padding: 10px 0;
	border-left: 1px solid #bfbfbf;
	border-right: 1px solid #bfbfbf;
	margin: 0;
} 
.sua-chua-box p:last-child {
	color :#E24545;
	border: 1px solid #bfbfbf;
	border-top: 0; 
	padding-bottom: 10px;
	margin: 0;
}