/* bỏ khi ghép */
.user-account{
	padding-top: 350px;
}
/* bỏ khi ghép */



div.user-table table, div.user-table td, div.user-table tr {    
    border: 1px solid #ddd;
    text-align: left;
}

div.user-table table {
    border-collapse: collapse;
    width: 100%;
}

div.user-table tr, div.user-table td {
    padding: 15px;
}
div.sm-tab-title>span{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.curEmail-container{
    display: flex;
}
.curEmail-item>span{
    margin-left: 10px;
}

/* h3 cuar tabtitle */
.tab-title>h3{
    margin-top: 0px !important;
}

/* list aside */
list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover{
    cursor: pointer;
}

.sm-tab{
    display: none;
}



