* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
	font-family: sans-serif;
}
body {
	background: #2f3238;
}
/*@keyframes ride {
	0% { transform:translateX(0px) }
	100% { transform:translateX(-1489px) }
}
div {
	height: 100px;
	width: 124px;
	overflow: hidden;
}
img {
	animation: ride .5s steps(12) infinite;
}*/
body {
	max-width: 1000px;
	margin:auto;
	height: 1000px;
	margin-top: 10px;
}
.box {
	width: 460px;
	margin: 50px 20px;
	height: 340px;
	float: left;
	position: relative;
	overflow: hidden;
}
img {
	transition: 1s;
}
h2	{
	margin-top: 10px;
	opacity: 0;
	transition: 1s;
}
.box:hover h2 {
	opacity: 1;
}
.transform {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 1s ;
	padding: 30px;
	color: white;
}

/*-------------------------------------------------------------*/
.translateX {
	text-align: right;
	top:0;
	left: -59%;
}
.box:hover .translateX  {
	background: rgba(80, 165, 251, 0.6);
	transform: translateX(59%);
}
.translateX_box img{
	transform: translateX(-20px);
}
.translateX_box:hover img{
	transform: translateX(0px);
}

/*-------------------------------------------------------------*/

.translateY {
	top: 81%;
}
.box:hover .translateY  {
	transform: translateY(-81%);
	background: rgba(116, 95, 189, 0.6);
}
.translateY_box img{
	transform: translateY(0px);
}
.translateY_box:hover img{
	transform: translateY(-20px);
}

/*-------------------------------------------------------------*/

.translate {
	text-align: right;
	right: 64%;
	top: 81%;
}
.box:hover .translate  {
	transform: translate(64%,-81%);
	background: rgba(89, 189, 111, 0.6);
}
.translate_box img {
	transform: translate(-20px,0);
}
.translate_box:hover img {
	transform: translate(0px,-20px);
}

/*-------------------------------------------------------------*/

.scale {
	left: 0;
	top:0;
	vertical-align: middle;
	text-align: center;
	transform: scale(0.5);
}
.center {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color: white;
}
.scale_box:hover img  {
	transform: scale(1.1);
}
.box:hover .scale  {
	transform: scale(1);
	background: rgba(158, 99, 63,0.6) ;
}

/*-------------------------------------------------------------*/

.rotateX , .rotateY , .rotateZ {
	left: 0;
	top:0;
	vertical-align: middle;
	text-align: center;
	transform: rotateX(180deg);
}
.box:hover .rotateX {
	transform: rotateX(0deg);
	background: rgba(255, 138, 0, 0.6);
}
.transform h1  {
	opacity: 0;
	transition: 1s ;
}
.box:hover .transform h1 {
	opacity: 1;
} 
.center2 {
	opacity:1;
}
.box:hover .center2 {
	opacity:0;
}

/*-------------------------------------------------------------*/

.rotateY {
	transform: rotateY(180deg);
}
.box:hover .rotateY {
	transform: rotateY(0deg);
	background: rgba(0, 165, 104, 0.6);
}

/*-------------------------------------------------------------*/

.rotateZ {
	transform: rotateZ(180deg);
}
.box:hover .rotateZ {
	transform: rotateZ(0deg);
	background: rgba(1, 8, 232, 0.5)
}



