* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
	font-family: sans-serif;
}
div {
	width: 20%;
	display: flex;
	justify-content:center;
	float: left;
}
ul {
	list-style-type: none ;
	margin: 70% 0 ;
}
li {

}
a {
	text-decoration: none;
	display: block;
	transition: all 0.3s ;
	font-weight:bold;
	color: #b5b5b5;
	padding: 30px;
}

.menu1 a {
	padding: 30px;
	transition: all 0.1s ;
	border:3px solid white ;
}
.menu1 a:hover {
	border: 3px solid #d94f5c ;  
	color: #d94f5c;
}
.menu2 , .menu4 {
	background: #2A282B ; 
}
.menu2 a {
	padding: 30px 60px 30px 0;
	border-bottom: 3px solid #d94f5c ;
	color:#d94f5c; 
}
.menu2 a:hover {
	padding: 30px 30px 30px 30px;
	background: #d94f5c ;  
	color: white;
}
.menu3 a {
	border-top:3px solid white ;
	border-bottom:3px solid white ;
}
.menu3 a:hover {
	padding: 10px 30px ;
	margin: 20px 0;
	border-top:3px solid #d94f5c ;
	border-bottom:3px solid #d94f5c ;
	color: #d94f5c;
}
.menu4 a {
	padding: 30px 40px ;
	background:#d94f5c ;
	color:white; 
}
.menu4 a:hover {
	background:none ;
	color:#d94f5c; 
	padding: 30px 0 30px 80px;
	margin: 5px 0 ;  
}
.menu5 a {
	background:none ;
	color:#d94f5c; 
}
.menu5 a:hover {
	background:#d94f5c ;
	padding: 50px 30px;
	color:white; 
}
