*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	color: #fff;
	list-style: none;
}
body {
	width: 1020px;
	margin: auto ;
	background: url('images/pattern-body.jpg') ;
	font-family: Arial;	
	position: relative ; 
	text-align: center;
}
a {
	display:block;
	text-decoration: none;
}
.relative {
position:relative;
}
.absolute {
position:absolute;
}
.none {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.center{
	text-align: center !important;
}







#header {
	width: 100%;
}
#logo {
	width: 130px;
	float: left;
	margin: 30px 0 30px 100px ;
}
#logo img{
	width: 100%;
}
#order {
	float: left;
	background: #ed1c24 ;
	color: #fff;
	padding: 15px ;
	border-radius: 10px;
	font-size: 20px;
	background-clip:padding-box;
	border: 3px dashed #fff;
	margin: 80px 10px 0 250px;
}
#header p {
	float: left;
	margin: 95px 10px 0 0;
	font-size: 30px ;
	font-style: italic;
	font-weight: bold;
}
#banner-left {
	position: absolute;
	top: 0 ;
	left:-370px;
}
#banner-right {
	position: absolute;
	top: 0 ;
	right:-370px;
}
/*------------------------------------------menu*/
#header li {
	float: left;
}
#menu-list {
	float: left;
}
#header li a {
	width: 170px;
	text-align: center;
	padding: 20px 10px;
	border: 1px white solid;
	border-left: 0;
	transition : all 0.2s ease-in-out ;
	color:#e5002d ;
}
#header li a#home {
	border-left: 1px white solid;
	border-right: 0;
} 
#header li a:hover{
	background: #e5002d;
	color: #fff;
}
#header li.menu a {
	border-left: 1px white solid;
} 
.menu {
	position: relative;
}
.menu ul{
	display: none;
	position: absolute;

}
.menu ul a{
	background: url('images/pattern-body.jpg') ;
	border: 0px !important;
	border-left: 1px white solid !important;
	border-right: 1px white solid !important;
	transition : none !important;
}
.menu ul li:last-child a{
	border-bottom: 1px white solid !important;
}
.menu:hover #header li a {
	border-bottom: 0;
}
.menu:hover ul{
	display: block;
}
.menu ul a:hover{
	background: #e5002d ;
	color: #fff ;
}
#menu-list li:nth-child(4) a {
	border-right: 0px;
}
#menu-list *{
	list-style-type: none;
}
/*------------------------------------------*/
#banner img{
	margin: 30px 0 30px 0 ;
	width: 1020px ;
}

/*------------------------------------------------------------------------------------*/

#content {
	background: url("images/bg.jpg");
	height: 1307px;
	padding-top: 60px;
	margin-bottom: 30px;
    overflow: hidden;
}
h2 {
	font-weight: lighter;
	text-transform: capitalize;
	padding: 20px 0;
	border-bottom: 3px dotted #e5002d;
	border-top: 3px dotted #e5002d;
	width: 500px;
	margin: auto;
	clear: both;
}
.main-product {
	max-width: 340px;
	float:left;
	padding: 0px 40px;
	height: 500px;
	margin: 20px 0 40px 0;
	transition : all 0.2s ease-in-out;
	border-radius:10%;
}
.main-product h3{
	color:#F9CD5B;
	}
.main-product p{
	margin: 20px 0 ;
	font-size: 14px;
	line-height: 23px;
	text-align: justify;
}
.main-product img{
	max-width: 100%;
	transition : all 0.2s ease-in-out ;
}
.main-product:hover {
	background: rgba(0,0,0,0.3);
	border-radius:10%;
}
.main-product:hover img{
	transform: scale(1.2);
}
.main-product a:last-child {
	background: #ed1c24;
	color: #fff;
	padding: 8px  ;
	border-radius: 10px;
	width: 180px;
	margin: auto;
	transition : all 0.2s ease-in-out ;
}
.main-product:hover a:last-child {
	transform: scale(1.3);
	padding: 10px  ;
	border-radius: 10px;
	width: 200px;
	margin: auto;
}

/*------------------------------------------------------------------------------------*/
#footer {
	border-top: 1px solid #fff;
	height: 259px;

}
#footer p{
	font-size: 12px;
	color: #F9CD5B;
	margin-bottom: 30px;
} 
#footer .number {
	display: inline-block;
	width: 500px;
	height: 118px ;
	line-height: 100px;
	background: url("images/hot.png") no-repeat ;
	font-size: 40px ;
	font-style: italic;
	font-weight: bold;
	padding: 0 0 0 240px ; 
	color: #fff;
}

#footer a {
	float: left ;
	color: #827c7b;
	text-transform: uppercase;
	padding: 9px ; 
	margin: 30px 0  ;
}
#footer a:hover {
	color: #F9CD5B;
}
#facebook , #youtube {
	background: rgba(0,0,0,0.7);
	padding: 20px 10px 20px 10px !important;
	margin: 30px 0 0 10px !important; 
	border-radius: 20px;
	transition : all 0.2s ease-in-out ;
}
#facebook span{
	background: url("images/f.png") no-repeat ;
	background-size: contain; 
	padding: 10px 0 10px 45px;
	background-origin: 
}
#facebook:hover {
	background:#3B5998 ; 
} 
#youtube:hover {
	background:#CC181E ; 
} 
#facebook:hover span , #youtube:hover span{
	color:#fff; 
} 

#youtube span{
	background: url("images/u.png") no-repeat ;
	background-size: contain; 
	padding: 10px 0 10px 45px;
	background-origin: 
}

/*------------------------------------------------------------------------------------*/

#ds {
	width: 1020px;
	height: 920px;
}
#ds-list {
	width: 255px;
	height: 500px;
	float: left;
	text-align: left;
}
#ds-list li {
	padding: 0 15px 30px 15px  ;
} 
#ds-list li li{
	padding: 15px 15px 15px 30px ;
} 
#ds-list .picked {
	background: #ED1C24;
	padding: 10px;
	margin-bottom: 15px;
}
#ds-list .picked:hover {
	color: #fff ;
	border-bottom: 1px solid rgba(0,0,0,0) !important ;
}
#ds-list li ul li a {
	font-size: 12px;
} 
#ds-list a{
	padding: 0 0 3px 0; 
	border-bottom: 1px solid rgba(0,0,0,0) ;
} 
#ds-list a:hover {
	color: #ED1C24;
	border-bottom: 1px solid white ;
} 
#ds-list .list-do-an ul{ 
	height: 0px;
	overflow: hidden;
	transition : all 0.5s ease-in-out ;
}
#ds-list .list-do-an:hover ul{ 
	height: 192px;
	overflow: hidden;
}


















#ds-box {
	width: 765px;
	float: right;
	background: url("images/bg.jpg");
	padding:6px;
	margin-bottom: 5px;
}
.box {
	float: left;
	width: 251px;
	padding: 0 20px 20px 20px;
	border-radius: 10%;
	transition: all 0.2s ease-in-out;
	height: 404px;
	margin-bottom: 10px;
}
.box p {
	font-size: 13px;
	line-height: 21px;
	text-align: justify;
	margin: 20px 0 ;
}
.box h4 {
	color: #F9CD5B;
	font-size: 15px;
}
#p1 {
	width: 100%;
}
.box li {
	float: left;
}
.box img {
	transition: all 0.2s ease-in-out;
}
.box ul a {
	width: 102px;
	color: #444;
	background: #fff;
	padding: 5px ;
	margin: 0 5px 1px 0;
}
.box ul a:hover {
	background: #F9CD5B;
    color: #ed1c24;
}
.buy {
	background: #ed1c24;
    color: #fff;
    padding: 6px;
    border-radius: 10px;
    width: 180px;
    margin: auto;
    transition: all 0.2s ease-in-out;
}
.box:hover img , .box:hover .buy {
	transform:scale(1.2);
} 
.box:hover {
	background: rgba(0,0,0,0.3);
}

.so {background: #2b2b2b;width: 765px;float: right;vertical-align: middle;}
.so a {
	float: right;
	height: 30px;
	width: 30px;
	line-height: 30px;
	margin: 5px;
	color: #fff;
}
.so a:hover {
	background: #ed1c24;
    color: #fff;
}
.so a:last-child {
	background: #ed1c24;
    color: #fff;
}


/*-----------------------------------------------------------------------------------------------------------------*/

#ct {
	width: 1020px;
	height: 700px;
	text-align: left;
}
#chi-tiet-box {
	width: 765px;
	float: right;
	margin-bottom: 5px;
}
#chi-tiet-box img{
	width: 400px;
	background: url("images/bg.jpg");
	margin-right: 30px;
}
#chi-tiet-box h1{
	font-size: 25px;
	color: #F9CD5B;
	margin-bottom: 30px;
}
#chi-tiet-box p {
	text-align: justify;
	margin-bottom: 25px;
}
#chi-tiet-box .price {
	color: #ed1c24;
	font-size: 35px;
}
.size {
	height: 137px;
}
.size a {
	background: #fff;
	color: #444;
	padding: 5px 5px 5px 10px;
	border-radius: 5px;
	margin: 0 5px 5px 0 ;
	width: 127px; 
}
.size a:hover {
	background: #ed1c24;
	color: #fff;
}
.size li:hover .ct-size{
	display: block;
}
#chi-tiet-box .ct-buy {
	background: #ed1c24;
	color:#fff;
	padding: 20px;
	border-radius: 10px;
}

#chi-tiet-box .ct-buy:hover {
	



} 

.line {
	width: 100%;
	height: 1px;
	background:#fff;
	display: block;
	float: right;
	margin-top:90px; 
}



.appendix {
	margin: 30px 0 ;
	width: 100% ;
	background: url("images/bg.jpg");
	text-align: center !important;
	height: 145px;

}

.appendix div {
	width: 225px;
	float: left;
	height: 145px;
}



.appendix .arrow {
	width: 45px;
	height: 145px;
	background: url("images/arrow.png") center no-repeat;
	background-size: 30px 30px ;
}
.appendix .arrow:first-child {
	transform:rotate(180deg);
} 
.appendix div img {
	margin: 0 !important;
	width: 50% !important;
	background: none !important;
	transition: all 0.2s ease-in-out;
}
.appendix p {
color: #F9CD5B;
font-size: 14px;
margin-bottom: 0px !important;
transition: all 0.2s ease-in-out;
}
.appendix div:hover img {
	transform:scale(1.2);    
}
{
	color: #fff;  
}
