
* {
	box-sizing: border-box ;
	margin: 0 ;
	padding: 0 ;
}
.content {
	width: 770px;
	margin: 10px auto;
	overflow: hidden;
}
.item {
	width: 236px;
	height: 190px;
	margin: 10px;
	float: left;
}
img {
	width:100%;
	transition: 0.3s ;
}
.item:hover img{
	transform: scale(1.3);
}
/*-----------------------------------------------------*/

.pagination_box {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}
li {
	float: left;
	list-style: none;
}
span {
	color: #337ab7;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	margin-left: -1px;
	cursor: pointer;
}
li:last-child>span  {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
li:first-child>span  {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
span:hover{
	background-color: #eee;
}
.active , .active:hover {
	color: #fff;
	cursor: default;
	background-color: #428bca;
	border-color: #428bca;
}
.disabled , .disabled:hover  {
	color: #999;
	cursor: not-allowed;
	background-color: #fff;
}
















